.accordion-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.accordion {
  margin: 15px;

}

.accordion-header {
  display: flex;
  flex-direction: row;

  font-size: 0.8em;

  background-color: blue;
  color: white;
  margin:10px;

  .plus {
    z-index: 50;
    height: 2px;
    color: white;
    width: 50px;

    ::before {
      content: "";
      width: 2px;
      height: 50px;
      color: white;
    }
  }

}



.accordion-text {
  margin: 15px;
}



