footer {
    margin-top: 40px;
    width: 100%;
    background-color: $primary-color;
    color: white;

    .content {
        display: flex;
        flex-direction: row;
        padding: 15px;
        flex-wrap: wrap;

        place-items: normal;

        span {
            display: block;
            padding: 1.5px;
        }

        span:nth-child(1) {
            font-weight: 600;
        }



        .col {
            padding: 15px;
            width: fit-content;
        }
    }
}

.socials {
    margin-left: auto;
}

.social {
    text-align: right;
    padding: 2px;
    height: 45px;
}