@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import "theme";

.content {
    display: grid;
    place-items: center;
}

header {
    z-index: 2;
    position: static;
    top: 0px;
    background: $primary-color;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.logo {
    position: relative;
    height: 70px;
    left: 0;
    padding: 15px;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
}

.nav-toggle-label {
    position: relative;
    top: 0;
    right: 30px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    width: fit-content;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    z-index: 1;
    position: absolute;
    text-align: left;
    top: 70px;
    left: 0;
    display: none;
    width: 100%;
    color: white;
    background-color: transparent;
}

nav ul {
    position: relative;
    z-index: 0;
    margin-top: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $primary-color;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    transition: left 250ms ease-out;
}

nav li {
    position: relative;
    margin-bottom: 1em;
    margin-left: 1em;
    width: fit-content;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a::after {
    content: '';
    display: block;
    height: 200%;
    width: 200px;
    background: #FF5105;
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
    z-index: -1;
}

nav a:hover::after {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav {
    display: flex;
}

.nav-toggle:checked~nav>ul,
.nav-toggle:checked~nav>ul>li {
    left: 0;
}

@mixin animation($time) {
    transition: left 250ms ease-in-out $time;
}

nav>ul>li:nth-child(1) {
    @include animation(100ms);
}

nav>ul>li:nth-child(2) {
    @include animation(200ms);
}

nav>ul>li:nth-child(3) {
    @include animation(300ms);
}

.nav-toggle:checked~.nav-toggle-label>span {
    background-color: $primary-color;
    transition: transform 250ms ease-in-out;
    transform-origin: left;
}

.nav-toggle~.nav-toggle-label>span::before,
.nav-toggle~.nav-toggle-label>span::after {
    transition: transform 250ms ease-in-out;
    transform-origin: left;
    transform: rotate(0) translateY(0);
}

.nav-toggle:checked~.nav-toggle-label>span::before {
    width: 120%;
    transform: rotate(45deg) translateY(-9px);
}

.nav-toggle:checked~.nav-toggle-label>span::after {
    width: 120%;
    transform: rotate(-45deg) translateY(9px);
}

@media screen and #{$tablet} {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        display: flex;
        position: relative;
        text-align: left;
        transition: none;

        background: none;
        top: initial;
        left: initial;

        justify-content: flex-end;
        align-self: center;
        padding-right: 50px;
    }

    nav ul {
        display: flex;
        height: fit-content;
        width: fit-content;
        left: 0;
        margin: auto;
    }

    nav li {
        display: block;
        margin: auto 0 auto 3em;
        transform: none;

    }

    nav a {
        position: relative;
    }

    nav a::after {
        content: '';
        display: block;
        height: 200%;
        width: 150%;
        background: #FF5105;
        position: absolute;
        top: -50%;
        left: -25%;
        right: 0;
        transform: scale(0, 1);
        transform-origin: center;
        transition: transform ease-in-out 250ms;
        z-index: -1;
    }
}